
.search-input {
  caret-color: transparent;
}

.search-input::placeholder {
  text-align: right;
  caret-color: transparent;
}

.search-input-modal {
  color: #000;
  direction: rtl;
  background-color: transparent;
}

.search-input-modal::placeholder {
  text-align: right;
}

.search-input-modal:focus {
  color: #000;
}

.genre-title {
  position: relative;
  padding-right: 50px;
}

.genre-title::after {
  content: "";
  position: absolute;
  width: 40px;
  background-color: white;
  padding: 2px;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
}
