.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.search-input::placeholder {
  text-align: right;
  caret-color: transparent;
}

.search-input-modal {
  color: #000;
  direction: rtl;
  background-color: transparent;
}

.search-input-modal::placeholder {
  text-align: right;
}

.search-input-modal:focus {
  color: #000;
}

.search-input {
  caret-color: transparent;
}


